@CHARSET "ISO-8859-1";

a.headerName:link {
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:visited { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:focus { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:hover { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

a.headerName:active { 
	font-weight: bold; 
	color: white; 
	text-decoration: none;
}

table{
	/* width:800px; */
	border-collapse:collapse;
	border-spacing: 0px;
}

table, th, td{
	border: 0px;
	padding:0px;
	margin:0px;
}

th{
	height:50px;
	margin:0px;
	padding:0px;
}

.centerContent{
	text-align:center;
}


.clearFloat{
	float:none;
	clear:both;
}

.divider{
	border-bottom-width:1px;
  	border-bottom-style:solid;
  	border-bottom-color:white;
  	height:1px;
  	clear:both;
  	margin:5px;
}

.footerStyle{
	width:800px;
	margin: 0 auto 0 auto;
	
}

.headerName{
	font-size: 40px;
	font-weight: bold;
	width:380px;
	float:left;
	background-color: black;
}


.headMenu{
	width:800px;
	height:120px;
	background-color: grey;
}

.headerStyle{
	width:800px;
	height:50px;
	margin: 0 auto 0 auto;
}

.loginBox{
	float:right;
	width:200px;
}

.loginField{
	width:100px;
	height:15px;
}

.mainContainer{
	color: white;
	width:800px;
	display:block;
	margin: 0 auto;
	background-color: #383838;
	
}

.startPageTable{
	width: 800px;
	height: 800px;
}